.users_list{
    background-color: whitesmoke;
    list-style: none;
    padding: 20px;
    margin-top: 20px;
    width: 500px;
    border-radius: 20px;
    font-size: 1.2rem;
}
@media screen and (max-width:500px){
    .users_list{
        width: 300px;
    }
}
.list_item{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    margin-bottom: 10px;
    cursor:pointer;
}
.list_item button{
    margin: 0;
    margin-right: auto;
}
.list_item:hover{
    background-color: hsl(271, 76%, 53%,20%) ;
}