.user_err{
    position: absolute;
    background-color: hsl(271, 76%, 53%,30%);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_err__box{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}
.user_err__box .user_err__head{
    color: hsl(271, 76%, 53%);
    font-weight: 900;
}
.user_input{
    width: 500px;
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
}
@media screen and (max-width: 500px) {
    .user_input{
        width: 300px;
    }
}
.user_input form{
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}
input {
    padding: 10px;
    font-size: 1rem;
    outline: none;
    border-radius: 10px;
    margin-bottom: 5px;
}
input:focus {
    border: 2px solid hsl(271, 76%, 53%);
}
button {
    color: #fff;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: 800;
    background-color: hsl(271, 76%, 53%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: hsla(271, 76%, 53%,80%);
}